{% extends 'base.html' %}
{% load static %}

{% block title %}
Профиль
{% endblock %}

{% block content %}
<ul class="nav nav-pills sticky-top bg-white nav-fill">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'main_page' %}">
      <span style="font-weight: bold;">Главная</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'top_sellers' %}"><span style="font-weight: bold;">Топ продавцов</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'adv_post' %}">
      <span style="font-weight: bold;">Разместить объявление</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'register' %}">
      <span style="font-weight: bold;">Регистрация</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'login' %}">
      <span style="font-weight: bold;">Войти</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'profile' %}">
      <span style="font-weight: bold;">Профиль</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'logout' %}">
      <span style="font-weight: bold;">Выйти</span>
    </a>
  </li>
</ul>
<div class="col" style="margin: 50px;">
  <div class="display-2">
    <span class="badge bg-primary">Сейчас</span>
  </div>
</div>
<div class="col" style="margin: 50px;">
  <div class="display-2">
    <span class="badge bg-primary">вы находитесь на сайте</span>
  </div>
</div>
<div class="col" style="margin: 50px;">
  <div class="display-2">
    <span class="badge bg-primary">под ником</span>
  </div>
</div>
<div class="col" style="margin: 50px;">
  <div class="display-2">
    <span class="badge bg-primary">{{ user }}</span>
  </div>
</div>
{% endblock %}